<!DOCTYPE html>
<html>
  <head>
    <title>{{ config.title }} | {{ config.short_description }}</title>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="{{ config.description }}" name="description"/>
    <meta content="{{ config.keywords }}" name="keywords"/>
    <meta content="Sandoche ADITTANE & Farbod SARAF" name="author">
    <link href="{{ url }}" rel="canonical"/>
    <meta content="all, follow" name="robots"/>
    <link href="favicon.png" rel="shortcut icon">
    <link href="favicon.png" rel="icon" type="image/x-icon"/>

   <!-- Twitter Card data -->
    <meta name="twitter:card" content="favicon.png">
    <meta name="twitter:site" content="@farbodsaraf">
    <meta name="twitter:title" content="{{ config.title }}">
    <meta name="twitter:description" content="{{ config.description }}">
    <meta name="twitter:creator" content="@farbodsaraf">
    <meta name="twitter:image:src" content="/images/icon.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ url }}" />
    <meta property="og:image" content="/images/icon.png" />
    <meta property="og:description" content="{{ config.description }}" />
    <meta property="og:site_name" content="{{ config.title }}" />
    <meta property="og:locale" content="en_US"/>

    <link href='/stylesheets/style.css' rel='stylesheet'/> 
    {% block style %}{% endblock %}
  </head>
  <body>
      {% block body %}{% endblock %}
      {% block script %}{% endblock %}
  </body>
</html>
